.avatar-username-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: calc(100% - (12px * 2));
  margin-left: 12px;
  }

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: relative;

  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }

  &__plus-button {
    position: absolute;
    top: 31px;
    width: 20px;
    height: 20px;
    left: 32px;
    padding: 2px;
    background-color: #73b5f8 !important;
    opacity: 0.9;
    border-radius: 50%;
    z-index: 3;
    box-shadow: 0 0 0 0 #1d90ff;
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;

    .icon {
      font-size: 14px;
    }
  }
}
.user-name {
  text-transform: uppercase ;
  padding-left: 8px;
  padding-top: 6px; 
  word-break: break-all;
  max-width: 80%;
  font-family: 'Oswald', sans-serif;
}

