.crop-image {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &__container {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    margin-top: -50px;
    z-index: 1;
    
  }
  
  &__footer {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -130px;
    z-index: 2;
  }
  
  &__button {
    margin: 24px auto;
    min-width: 100px;

    
    &__redo {
      background-color: orange;
      width: 30px;
      height: 30px;
      border: 2px;
      border-radius: 15px;
      padding: 6px 7px;
      color: white;
      z-index: 10000;
      margin-right: 48px;
      cursor: pointer;
    }

    &__checkcircle {
      max-width: 90%;
      top: 40px;
      font-size: 25px;
      border: 2px;
      border-color: green;
      background-color: green;
      border-radius: 15px;
      padding: 1px 12px 0 3px;
      color: white;
      cursor: pointer;
      overflow-wrap: break-word;
      z-index: 10000;
      
    }
  }
}

.css-ebdd77 {
  z-index: -1;

}




