

.publish-notification {
  bottom: 0px;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  color: rgb(30, 144, 255);
  font-size: 8px;
  padding-bottom: 24px;
}


.publish { 
  bottom: 0px;
  position: fixed;
  //left: 0;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px 20px 40px;
  transition: .3s bottom; 
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .linkrenderer {
    margin-left : -5px;
    margin-right : -12px;
    margin-top: -2px;
    padding: 5px 5px;
    width: 100%;
    border: none;
    border-radius: 4px ;
    overflow: hidden;
    white-space: nowrap;
    background-color: #fff;
    color:  rgb(30, 144, 255);
    font-size: 14px;
    text-rendering: auto; 
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  
  &__button {
    background-color: rgb(30, 144, 255);
    color: rgb(243, 53, 53);
    font-weight: 600;
    height: 50px;
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 18px;
    animation: anime infinite 2s linear;
    
    &__copy {
      transition: .5s;
      
      &__already {
        background-color: rgba(30, 144, 255, .1);
        color: #000;
      }
    }
    
    &__goto {
      flex-grow: 0;
    }
  }
}



.openlink-button {
  position: fixed;
  top: 4px;
  left: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  box-shadow: 0 0 0 0 #1d90ff;
  transform: scale(1);
  animation: pulse 2s infinite;
  cursor: pointer;
}

.saveData-button {
  position: fixed;
  top: 16px;
  left: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: red;
  box-shadow: 0 0 0 0 #690411;
  transform: scale(1);
  animation: pulse 2s infinite;
  cursor: pointer;
  text-transform: uppercase;
}

@keyframes anime {
  0% {
      color: orange;
  }
  33% {
      color: red;
  }
  66% {
      color: white;
  }
  100% {
      color: orange;
  }
}
